.Main {
  margin: 60px 0;
  @include paddings;

  &__title-box {
    display: flex;
    justify-content: center;
  }

  &__title {
    font-weight: bold;
    color: $font-color;
    font-size: 3.125rem;
  }

  &__categories-box {
    display: flex;
    justify-content: center;
  }

  &__categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.25rem;

    margin-top: 3.125rem;

    @include onTablet {
      overflow: scroll;

      flex-wrap: nowrap;
      align-items: center;
      justify-content: start;

      height: 125px;

      padding-left: 10px;
      margin-top: 1.5rem;
    }
  }

  &__loader {
    margin-top: 150px;
  }
}
