.AppBar {
  height: 60px;
  width: 100%;

  background-color: $main-color;

  &__container {
    @include alignment-y;
    justify-content: flex-start;

    @include paddings;
    height: 100%;
  }

  &__logo-box {
    @include alignment-y;
    gap: 10px;
  }

  &__title {
    display: inline-block;

    font-size: inherit;
    color: #fff;
  }
}
