.Category {
  width: 170px;
  height: 57px;

  border-radius: 20px;
  border: none;

  font-family: 'Raleway';
  font-weight: bold;
  font-size: inherit;
  line-height: 19px;
  color: $font-color;

  background: #ffffff;
  -webkit-box-shadow: 0px 8px 25px 4px rgba(66, 46, 212, 0.05);
  box-shadow: 0px 8px 25px 4px rgba(66, 46, 212, 0.05);

  transition: color 0.5s;
  transition: background-color 0.3s;

  cursor: pointer;

  &--active {
    @include button-action;
  }

  &:hover {
    @include button-action;
  }

  &:active {
    background-color: #ffffff;
    color: $main-color;
    border: 1px solid $main-color;
  }

  @include onTablet {
    width: 300px;
    @include paddings;

    -webkit-box-shadow: 0px 8px 10px 4px rgba(66, 46, 212, 0.05);
    box-shadow: 0px 8px 10px 4px rgba(66, 46, 212, 0.05);
  }
}
